[submodule "common/protobuf-c"]
	path = common/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "esp/esp-idf"]
	path = esp/esp-idf
	url = https://github.com/espressif/esp-idf
	branch = release/v5.3
